.header{
	background: url('') ;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: #000;
	text-transform: uppercase;
}

.logo{
	max-width: 500px;
	margin-top: 0px;
}
.foot a{
	    text-transform: lowercase;
	    color:black;
	    padding-left:20px;
}