.header{
	background: url('') ;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: #000;
}

.logo{
	max-width: 30%;
}
.foot a{
	    text-transform: lowercase;
	    color:black;
	    padding-left:20px;
}
.lgo{
		display:none;
	}

@media screen and (max-width: 600px){
	.logo{
		width:90%;
	}
	.logo{
		margin:0;
	}
	.lgo{
		display:block;
		float:left;
	}
	.lgoh{
		display: none;
	}
}
